#theBtns { /*aka the form holding the buttons*/
  text-align: center;
}

#plusSymbol:hover, #postBtn:hover {
  transform: scale(1.1);
}

#journalBox {
  margin-top: 25px;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /*above 3 codes is to make sure the box is in the middle*/
  height: 300px;
  width: 50%; /*implementing a default sizing for the journalTextBox*/
  border: solid 3px rgba(128, 128, 128, 0.5); /*gray with a bit of opacity/transparency*/
  border-radius: 40px;
  background-color: white;
  display: none; /*should make the textfield hidden until the plusSymbolBtn is clicked*/
}

#journalBox:focus {
  border-color: rgba(0, 0, 0, 0.8); /* Makes border bolder/black when clicked */
}

#displayArea {
  margin-top: 50vh;
  display: none; /*we want the displayArea to be hidden first*/
  flex-flow: wrap;
  justify-content: center;
}

.entry {
  border-radius: 40px;
  background: rgba(245, 245, 244, 0.93); /*#F5F5F4*/
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px);
  border: 1px solid rgba(245, 245, 244, 0.21); /*create this tile-like look*/
  padding: 15px;
  margin: 10px;
}

.tile {
  width: calc(100% / 4); /*creates 3 columns*/
}

.entry:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.deleteBtn {
  background-color: yellowgreen;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: transparent;
  margin-left: 10px;
}

.deleteBtn:hover {
  border: black 2px solid;
  transform: scale(1.3);
}

#plusSymbol, #postBtn {
  font-size: 22px;
  background: yellowgreen;
  padding: 10px;
  border: none;
  border-radius: 25px;
}

textarea, #plusSymbol, #postBtn {
  font-family: "Gaegu", sans-serif;
}

h1 {
  font-size: 7em;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
}

body {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: url("diamond-cursor.png") 16 16, auto; /*custom cursor*/
}

html {
  background-color: #f3f2f2;
  background-image: radial-gradient(
    circle,
    black 1px,
    transparent 1px
  ); /*creates that dotted journal paper look*/
  background-size: 20px 20px; /*spacing between the dots */
}

/*journal colors: 
#D6BFDE purple 
#F7CFD8 pink 
#FCD23F yellow 
#F7A28D red/coral 
#F4CFB5 peach

some shades of white: #F5F5F5, #F2F3F5 */

/*ALT + SHIFT + F = formatting 
CTRL + / makes comments */