#plusSymbol {
  position: absolute; /* take the button out of normal document flow */
  left: 50%; /* move the left edge of the btn to the center */
  transform: translateX(-50%);
  /* shift btn back by half its width b/c I want the center of the btn not the top-left corner of the btn to be the center */
  transform-origin: center; /*bc default is top-left corner which causes the btn to shift right*/
}

#plusSymbol:hover {
  transform: translateX(-50%) scale(1.1); /*makes sure centerOfBtn is in the middle + enlarges the btn*/
}

#journalBox {
  margin-top: 65px;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /*above 3 codes is to make sure the box is in the middle*/
  height: 300px;
  width: 50%; /*implementing a default sizing for the journalTextBox*/
  border: solid 3px rgba(128, 128, 128, 0.5); /*gray with a bit of opacity/transparency*/
  border-radius: 40px;
  background-color: white;
}

.placeholder {
  /*applies only to the journalTextBox's placeholder text*/
  padding-left: 1px;
  font-size: 18px;
}

#journalBox:focus {
  border-color: rgba(0, 0, 0, 0.8); /* Makes border bolder/black when clicked */
}

/*journal colors: 
#D6BFDE purple 
#F7CFD8 pink 
#FCD23F yellow 
#F7A28D red/coral 
#F4CFB5 peach

some shades of white: #F5F5F5, #F2F3F5 */

/*PLANS?
add a border gradient upon hovering the button 
add sliding aniamtion to reveal new text for button 
*/

/*ALT + SHIFT + F = formatting 
CTRL + / makes comments */

#plusSymbol, #postBtn {
  font-size: 22px;
  background: yellowgreen;
  padding: 10px;
  border: none;
  border-radius: 25px;
}

textarea, #plusSymbol, #postBtn {
  font-family: "Gaegu", sans-serif;
}

#displayArea {
  margin: 50vh;
  border: black 5px solid;
}



h1 {
  font-size: 7em;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
}

body {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  background-color: #f3f2f2;
  background-image: radial-gradient(
    circle,
    black 1px,
    transparent 1px
  ); /*creates that dotted journal paper look*/
  background-size: 20px 20px; /*spacing between the dots */
}
