p {
  text-decoration: underline;
}

#plusSymbol {
  background: yellowgreen; /*TEMP COLOR*/
  padding: 10px;
  border: none;
  border-radius: 25px;
}

#plusSymbol:hover {
  transform: scale(1.1);
}

