#plusSymbol {
  font-size: 22px;
  font-family: "Gaegu", sans-serif; /*need to add these since btn do not accept by default*/
  background: yellowgreen; /*TEMP COLOR*/
  padding: 10px;
  border: none;
  border-radius: 25px;
  position: absolute; /* take the button out of normal document flow */
  left: 50%; /* move the left edge of the btn to the center */
  transform: translateX(-50%);
  /* shift btn back by half its width b/c I want the center of the btn not the top-left corner of the btn to be the center */
  transform-origin: center; /*bc default is top-left corner which causes the btn to shift right*/
}

#plusSymbol:hover {
  transform: translateX(-50%) scale(1.1); /*makes sure centerOfBtn is in the middle + enlarges the btn*/
}

#journalBox {
  margin-top: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(
    -50%
  ); /*above 3 codes is to make sure the box is in the middle*/
  height: 300px;
  width: 50%; /*implementing a default sizing for the journalTextBox*/
  border: solid 3px;
  border-radius: 40px; /**/
}

#journalBox::placeholder {/*applies only to the journalTextBox's placeholder text*/
  padding-left: 30px;
  font-size: 18px;
}

/*journal colors: 
#D6BFDE purple 
#F7CFD8 pink 
#FCD23F yellow 
#F7A28D red/coral 
#F4CFB5 peach*/

/*PLANS?
add a border gradient upon hovering the button 
add sliding aniamtion to reveal new text for button 
*/

/*ALT + SHIFT + F = formatting */

h1 {
  font-size: 7em;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

body {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

