h1 {
  font-size: 100px;
  text-align: center;
}

#plusSymbol {
  background: yellowgreen; /*TEMP COLOR*/
  padding: 10px;
  border: none;
  border-radius: 25px;
}

#plusSymbol:hover {
  transform: scale(1.1);
}

/*add a border gradient upon hovering the button 
add sliding aniamtion to reveal new text for button 
*/

.moveBtnToCenter {
  margin-left: 50vh;
}
